<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Nama</title>
</head>
<body>
    <h2>Input Nama</h2>
    <form action="/process" method="POST">
        <label for="jumlah_nama">Masukan jumlah nama yang ingin diinput: </label><br>
        <input type="number" id="jumlah_nama" name="jumlah_nama" required>
        <br><br>
        <button type="submit">Lanjutkan</button>
    </form>
</body>
</html>